.td_booked { /* забронированное место */
    background: red;
}
.td_free { /* свободное место */
    background: green;
}

body {
    background-color: #848CB5;
    font-family: 'Old Standard TT', serif;
}

#TITLE {
    display: block;
    margin: 30px 200px;
    color: black;
    font-size: 48pt;
    text-decoration: none;
    transition: all 0.3s;
}

#TITLE:hover {
    text-decoration: underline;
    transition: all 0.3s;
}

main {
    font-size: 24px;
}

.maincontainer {
    width: 600px;
    float: left;
}

.tabs {
    display: block;
    margin: 10px;
}

.tabs a {
    background-color: transparent;
    padding: 6px 12px;
    color: black;
    text-decoration: none;
    transition: all 0.3s;
}

.tabs a:hover {
    background-color: #C0A0E0;
    transition: background-color 0.3s;
}

.tabs .active {
    background-color: #BD0118;
    padding-top: 18px;
    color: white;
    transition: all 0.3s;
}

.maincontainer table {
    background-color: #7244BD;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 400px;
    float: right;
}

.menu a {
    background-color: transparent;
    margin-left: 6px;
    border-left: 4px solid black;
    padding: 10px;
    padding-left: 18px;
    color: black;
    text-decoration: none;
    transition: all 0.3s;
}

.menu a:hover {
    background-color: #C0A0E0;
    border-left: 16px solid #202020;
    transition: all 0.3s;
}

.menu .active {
    background-color: #7244BD;
    margin-left: 18px;
    border-left: 4px solid black;
    transition: all 0.3s;
}

.table_img {
    width: 30%;
    height: 60%;
}

.film_main {
    display: flex;
}

.film_img {
    width: 200px;
}